@charset 'utf-8';
@import '~bulma/bulma.sass';

$purple: #b82ea3;
// $primary: $purple;

* {
  color: black;
  font-size: 20px;
}

.button {
  background: $purple;
}

.section {
  height: 100%;
}

.nav-item img {
  max-height: 4rem;
}

.nav-item {
  color: $purple;
}

.columns {
  height: auto;
  margin: 20px;
}

.border {
  border: 1px solid black;
}

.container {
  // border: 1px solid black;
  height: auto;
  // margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.gen-info {
  text-align: center;
}

.log-info {
  text-align: center;
}