// @charset 'utf-8';
// @import '~bulma/bulma.sass';

$purple: #b82ea3;
// $primary: $purple;

// * {
//   color: black;
//   font-size: 20px;
// }

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

button {
  background: $purple;
  font-size: 20px;
}

.section {
  height: 100%;
}

.nav-item img {
  max-height: 4rem;
}

.nav-item {
  color: $purple;
}

.columns {
  height: auto;
  margin: 20px;
}

.border {
  border: 1px solid black;
}

.container {
  // border: 1px solid black;
  height: auto;
  // margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.gen-info {
  text-align: center;
}

.log-info {
  text-align: center;
}

.styles {
  display: none;
}

.style-hider:hover ~ .styles {
  display: block;
  color: grey;
}

.band-items {
  margin-top: 10px;
  margin-bottom: 10px; 
}

.link-style {
  color: $purple;
}

.chat {
  font-size: 30px;
}